


.nav-lin:hover{
  background-color: green;
  border-radius: 20px;
  font-size: 15px;
}
.bord-cont:hover{
  box-shadow: 5px 10px 5px 10px #888888;
}
.product-buy p{
  color:#888888;
}
.product-buy p:hover{
  color: #fff;
  font-weight: bold;
  background-color: green;
}

/* Footer */
ul li  a{
  text-decoration: none;
  color: #fff
}
.img-size{
  width: 20px;
  height: 20px;
}
